/*General*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    background: rgb(25, 25, 24);
}

html {
    scroll-behavior: smooth;
}

p{
    color: rgb(85, 85, 85);
}

/*Transition*/

a, .btn{
    transition: all 300ms ease;
    
}

/*Deskstop nav */
nav, .nav-links {
    display: flex; 
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    z-index: 1000;
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    background-color: #12110f;
    border-radius: 3rem;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;

}

a{
    color: white;
    text-decoration: none;
    text-decoration-color: black;
}

a:hover{
    color: white;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(255, 184, 51);
    
}

.logo{
    color: rgb(255, 184, 51);
    font-size: 1.7rem;
    font-weight: 650;

}

.logo:hover{
        cursor: default;
}

/*Hamburger Menu*/

#hamburger-nav{
    display: none;

}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background: white;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background: rgb(25, 25, 24);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all o.3 ease-in-out;

}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all o.3 ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span :first-child{
    transform: none;
}

.hamburger-icon span :first-child{
    opacity: 1;
}

.hamburger-icon span :first-child{
    transform: none;
}

/*Section*/

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}

/*Profile Section */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 100vh;
}

.section__pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;

}

.section__text p{
    font-weight: 600;
    color: rgb(255, 184, 51);
}

.section__text__p1{
    margin-top: 60px;
    text-align: center;

}


.title {
    font-size: 3rem;
    text-align: center;
    color: white;
}

#social-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* Movement part */

.container .text{
    font-weight: 600;
    position: relative;
    color: #ffb833;
    font-size: 1.50rem;
    margin-bottom: 1rem;
    gap: 2rem;
}

.text-animation{
    font-weight: 600;
    font-size: 30px;
    color: #ffb833;
    min-width: 280px;
}

.text-animation span{
    position: relative;
}

.text-animation span::before{
    content: "Software Engineer";
    animation: words 20s infinite;
}

.text-animation span::after{
    content: "";
    background-color: rgb(25, 25, 24);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid  #ffb833;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor{
    to{
        border-left: 2px  #ffb833;
    }
}

@keyframes words{
    0%,
    20%{
        content: "Student";
    }
    21%,
    40%{
        content: "Tech Enthusiast";
    }
    41%,
    60%{
        content: "Love for Coding";
    }
    61%,
    80%{
        content: "Tech Innovator";
    }
    81%,
    100%{
        content: "AI Explorer";
    }
}

@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}


/*Icons*/

.icon {
    cursor: pointer;
    height: 2rem;
}
/* Buttons */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 20px;

}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, 
.btn-color-2{
     border: rgb(255, 87, 51) 0.1rem solid;
}

.btn-color-1:hover , 
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1, 
.btn-color-2:hover {
    background: rgb(199, 0, 57);
    color: white;
}

.btn-color-1:hover{
    background: rgb(25, 25, 24);
}

.btn-color-2{
    background: none;
    color: white;
}

.btn-color-2:hover{
    border: rgb(255, 87, 51) 0.1rem solid;
}

.btn-container {
    gap: 1rem   ;
}

/* About Section */

#about {
    position: relative;
}

.section-container{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    padding: 25px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 54px;
    background: #231f1f;
    margin-top: 10px;
}


.about-text {
    flex: 2;
    padding: 20px;
}

.about-text p {
    font-size: 18px;
    line-height: 1.6;
    color: white;
    margin-bottom: 20px;
}

.about-text-header {
    display: flex;
    align-items: center;
}

.about-text-header h2 {
    font-size: 32px;
    margin-right: 10px;
    color: white;
}

.about-text-header hr {
    flex-grow: 1;
    border: 1px solid rgb(255, 184, 51);
}

/* Skills Section */

/* Contenedor general de la sección */
.section-container-skills {
    text-align: center;
    padding: 20px;
}



/* Contenedor para los íconos de habilidades */
.details_containers {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
}

/* Contenedor de cada habilidad individual */
.skill-container {
    display: flex;
    align-items: center;
    width: 300px;
    height: 70px;
    padding: 10px;
    border: rgb(255, 184, 51) 0.1rem solid;
    border-radius: 8px;
    transition: transform 0.5s ease;
}

/* Iconos de habilidades */
.icon-skills {
    width: 50px;
    height: 50px;
    margin: 20px;
    transition: transform 0.3s ease;

}
.skill-container:hover{
    background-color: rgb(255, 184, 51);
}

/* Agrandar ícono y sombra al pasar el mouse */
.skill-container:hover
.icon-skills{
    transform: scale(1.2);
}



/* Estilos para el texto de las habilidades */
.skill-text{
    display: flex;
    flex-direction: column;
}
.skill-text h2{
    font-size: 1.5rem;
    margin-bottom: 1px;
    transform: translateY(15px);
    transition: transform 0.3s ease;
    color: white;
}

.skill-container:hover .skill-text h2{
    transform: translateY(-6px);
}

.skill-text p{
    opacity: 0;
    color: white;
    transform: translateY(-10px);
    font-size: 1rem; 
    transition: opacity 0.3s ease;   
}

.skill-container:hover .skill-text p{
    opacity: 1;
}

/* Section Projects */

.project-container{
    width: 400px;
    height: 450px;
    display: flex;
    align-items: center;
    background: #231f1f;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: transform 0.3s ease;
    margin-top: 10px;
}

.section-container-projects {
    text-align: center;
    padding: 20px;
}

.img-projects{
    width: 350px;
    height: auto;
    border-radius: 20px;

}

.github-container {
    cursor: pointer;
    height: 2rem;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.github-img{
    width: 35px;
}
.project-text p{
    font-size: 1rem;
    color: rgb(189, 176, 176);
    text-align: left;
    margin: 15px;
}



.project-text h2{
    font-size: 1.5rem;
    color: white;
    margin-top: 10px;
    
}

.project-container:hover{
    transform: translateY(-15px);
    background-color: #3d3838;
}

/* Section Contact */

#contact {
    padding: 20px;
    text-align: center;

}

.contact form{
    width: 600px;
    text-align: center;
    justify-content: center;
}

form .input-box{
    display: flex;
    justify-content: center;
}

.field .item{
    width: 400px;
    padding: 18px;
    background: transparent;
    border: 2px solid rgb(255, 184, 51);
    font-size: 16px;
    color: antiquewhite;
    margin: 12px 0;
    outline: none;
    border-radius: 6px;
}

.field.error .item{
    border-color: rgb(203, 29, 29);
} 

.field .item::placeholder{
    color: rgb(189, 176, 176);
}

.field .error-txt{
    font-size: 14.5px;
    color: rgb(203, 29, 29);
    text-align: left;
    margin: 5px 0 0 0; 
    padding-left: 10px;
    display: none;
}

.field.error .error-txt{
    display: block;
}

.textarea-field .error-txt {
    position: relative;
    top: -5px; 
    left: 345px; 
}

form .textarea-field .item{
    resize: none;
}

form button{
    padding: 12px 32px;
    background-color: transparent;
    border: 2px solid rgb(255, 184, 51);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: white;    
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.7s ease;
}

form button:hover{
    background-color: rgb(255, 184, 51);
}
